google-api-python-client==2.111.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
python-dotenv==1.0.0
youtube-transcript-api==1.2.3
prettytable==3.17.0
llama-cpp-python==0.3.16
